<div class="container spacer">
  <img class='main-image' src="{{this.cat}}" alt="alwaysacat">
  <button class='reload' (click)="getNewCat()">&#x21bb;</button>
  <app-add-cat (addCat)="addCat($event)"></app-add-cat>
  <div class="categories-container">
    <h2>Categories</h2>
    <button class='reload deleteHistory' (click)="clearLocalHistory()">X</button>
  </div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let category of categories" (click)="categorySwitcher(category)">{{category}} ({{countCategory(category)}})</li>
  </ul>
  
  <app-cat-item  
    [currentCats]="currentCats"
    [currentCategory]="currentCategory"
    >
  </app-cat-item>
</div>