<div class='container spacer'>
  <h1>About Cat Generator</h1>
  <p>It was quite a journey...</p>
  <h2>Can generator can...</h2>
  <ul class="list-group">
    <li class="list-group-item">The page should show a random cat image on load  	&#10004;</li>
    <li class="list-group-item">There should be a button to fetch a new image 	&#10004;</li>
    <li class="list-group-item">There should be an input to label the image with a category, and a save button next to it 	&#10004;</li>
    <li class="list-group-item">There should be a list of all the categories saved so far 	&#10004;</li>
    <li class="list-group-item">If you click on a category, it should show a list of the all the cats saved in that category 	&#10004;</li>
    <li class="list-group-item">If you reload the page, or navigate back to the page, the previously saved cats and categories should still exist 	&#10004;</li>
  </ul>
</div>